<p>signup-musico2 works!</p>

<html>
    <head>   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col s4 push-s1">
                <div class="card-1">
                    <form class="row">
                        <img src="../../../assets/resources/logoWAVE.png" alt="WAVE" class="logo"> 
                            <div class="input-field"  >    
                                <div class="center" >   
                                    <label for="info" class="col s8 push-s2 "> Tipo de Perfil </label>    
                                    <input type="text" id="info">
                                </div>                                  
                            </div>
                            <div class="input-field">
                                <div class="center">
                                <label for="info" class="col s8 push-s2 "> Nombre </label>    
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="info" class="col s8 push-s2 "> Apellido </label>    
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="info" class="col s8 push-s2"> País </label>
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="birthday"> Fecha de Nacimiento  </label>
                                <input type="date" id="birthday" name="birthday">
                                </div>                       
                            </div>
                        </form>
                    </div>
                </div>
            <div class="col s6 push-s1">
                <div class="card-2">
                    <form class="row">
                        <br>
                        <div class="center">
                        <h1 class="title">Géneros en los que te desenvuelves</h1>
                        <form class="row">
                          <div class="image-checkbox col s2 push-s1">
                            <input type="checkbox" id="checkbox13">
                                <label for="checkbox13">
                                    <figure>
                                    <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro1">
                                <figcaption>Guitarra Acústica</figcaption>
                                </figure>
                                </label>
                          </div>
                          <div class="image-checkbox col s2">
                            <input type="checkbox" id="checkbox14">
                            <label for="checkbox14">
                                <figure>
                                <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro2">
                            <figcaption>Guitarra Acústica</figcaption>
                            </figure>
                            </label>
                          </div>
                          <div class="image-checkbox col s2">
                            <input type="checkbox" id="checkbox15">
                            <label for="checkbox15">
                                <figure>
                                <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro3">
                            <figcaption>Guitarra Acústica</figcaption>
                            </figure>
                            </label>
                          </div>
                          <div class="image-checkbox col s2">
                            <input type="checkbox" id="checkbox16">
                            <label for="checkbox16">
                                <figure>
                                <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro4">
                            <figcaption>Guitarra Acústica</figcaption>
                            </figure>
                            </label>
                          </div>
                        </form>
                        
                        <form class="row">
                            <div class="image-checkbox col s2 push-s1">
                              <input type="checkbox" id="checkbox17">
                                  <label for="checkbox17">
                                    <figure>
                                      <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro5">
                                    <figcaption>Guitarra Acústica</figcaption>
                                    </figure>                                  
                                    </label>
                            </div>
                            <div class="image-checkbox col s2">
                              <input type="checkbox" id="checkbox18">
                              <label for="checkbox18">
                                <figure>
                                <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro6">
                            <figcaption>Guitarra Acústica</figcaption>
                            </figure>
                            </label>
                            </div>
                            <div class="image-checkbox col s2">
                              <input type="checkbox" id="checkbox19">
                              <label for="checkbox19">
                                <figure>
                                <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro7">
                            <figcaption>Guitarra Acústica</figcaption>
                            </figure>
                            </label>
                            </div>
                            <div class="image-checkbox col s2">
                              <input type="checkbox" id="checkbox20">
                              <label for="checkbox20">
                                <figure>
                                <img src="../../../assets/resources/guitarra-acustica-1-1024x680.png" alt="Descripción de la imagen" class="cuadro8">
                            <figcaption>Guitarra Acústica</figcaption>
                            </figure>
                            </label>
                            </div>
                          </form>
                        </div>
                    </form>
                </div>
            </div>
                
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>

</html>
